@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Play:wght@400;700&display=swap');


/* reset */
* {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #bbb;
}

img {
    border: 0;
}

body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #111;
}

.vid {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.9;
}

.vid video {
    width: 100%;
    min-width: 1600px;
}

h1 {
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 10;
}

h1 img {
    width: 280px;
    height: auto;
}

header {
    position: fixed;
    width: 700px;
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d2ff52+0,91e842+100;Neon */
    background: #d2ff52;
    /* Old browsers */
    background: -moz-linear-gradient(top, #d2ff52 0%, #91e842 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #d2ff52 0%, #91e842 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #d2ff52 0%, #91e842 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2ff52', endColorstr='#91e842', GradientType=0);
    /* IE6-9 */
    transform: skewX(-40deg);
    left: -420px;
    top: 0;
}

/* 1depth */
ul#gnb {
    width: 220px;
    position: absolute;
    top: 150px;
    right: 0;
}

ul#gnb>li {
    position: relative;
}

ul#gnb>li>a {
    display: block;
    width: 220px;
    height: 50px;
    font: bold 18px/3 'Play', sans-serif;
    color: #222;
    padding-right: 40px;
    box-sizing: border-box;
    text-align: right;
}

ul#gnb>li.on>a {
    background: #111;
    color: #fff;
}

ul#gnb>li:hover>a {
    background: #111;
    color: #fff;
}

ul#gnb em {
    transform: skewX(40deg) !important;
    display: inline-block;
}

ul#gnb em i {
    margin-right: 20px;
}

/* 2depth */
ul#gnb ul {
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.4s;
    opacity: 0;
}

ul#gnb>li:hover ul {
    left: 205px;
    opacity: 0.8;
}

ul#gnb ul a {
    display: block;
    width: 150px;
    height: 40px;
    background: #222;
    border-bottom: 1px solid #b9fb05;
    padding-left: 50px;
    box-sizing: border-box;
    margin-bottom: 3px;
    font: bold 16px/2.5 arial;
    color: #fff;
    transition: all 0.5s;
}

ul#gnb ul a:hover {
    background: #b9fb05;
    color: #333;
}

ul#gnb>li.on ul {
    opacity: 0.8;
    left: 205px;
    top: -10px
}

ul#gnb>li.on ul a {
    background: #444;
    opacity: 0.7;
}

/* sns 버튼 모음 */
ul#sns {
    position: fixed;
    top: 60px;
    right: 50px;
}

ul#sns li {
    float: left;
    margin-right: 30px;
}

ul#sns .fa {
    font-size: 25px;
    color: #b9fb05;
    transform: scale(1);
    opacity: 0.5;
    transition: all 0.5s;
}

ul#sns .fa:hover {
    transform: scale(1.4);
    opacity: 1;
}

/* 텍스트박스 */
.txtBox {
    width: 340px;
    height: 280px;
    position: fixed;
    top: 200px;
    right: 70px;
}

/* 
font-family: 'Monoton', cursive;
font-family: 'Play', sans-serif; 
*/
.txt {
    position: absolute;
    top: 200px;
    right: 0;
    font-size: 34px;
    font-family: 'Play', sans-serif;
    color: #bbb;
    letter-spacing: -2px;
}

.txt b {
    font: bold 34px arial;
    color: #b9fb05;
    margin-left: 20px;
}

.tit {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 160px;
    color: #b9fb05;
    font-family: 'Monoton', cursive;
    letter-spacing: -1px;
}

.tit em {
    font-size: 50px;
    font-family: 'Play', sans-serif;
    color: #fff;
}

/* contents */
#side {
    width: 800px;
    height: 100%;
    position: fixed;
    bottom: 0;
    right: -800px;
    background: #111;
    opacity: 0.5;
    transform: skewX(-40deg);
    transition: all 0.5s;
}

#side:hover {
    right: -500px;
    opacity: 0.8;
}

#side .con {
    position: absolute;
    left: 150px;
    bottom: 0;
    width: 400px;
    height: 100%;
    background: #000;
    box-sizing: border-box;
    padding: 10px;
    transition: all 1s;
}

#side:hover .con {
    left: 50px;
}

#side .con p{width: 300px; height: 100px; position: absolute;
left: 50px;}
#side .con p em{color: #a0bd50; font:bold 16px/1.7 arial;
display: inline-block; transform: skewX(40deg);}
#side .con p img{width: 300px; height: 70px; opacity: 0.3;
transition: all 0.5s;}
#side .con p img:hover{opacity: 1;}
#side .con p:nth-child(1){bottom: 270px;transform: translateX(200px);
transition: all 0.4s;
}
#side .con p:nth-child(2){bottom: 160px;transform: translateX(200px);
transition: all 0.8s;
}
#side .con p:nth-child(3){bottom: 50px;transform: translateX(200px);
transition: all 1.2s;
}
#side:hover .con p{transform: translateX(0);}

/* 자동 롤링 버튼 */
#side .btnContents{
    width: 150px; height: 50px;
    position: absolute;
    bottom: 40px;
    left: 100px; color: #b9fb05;
    transform: skewX(40deg);
}
#side:hover .btnContents{
    left: 700px;
}
.btnContents i{font-size: 60px;
position: absolute ;bottom: 0; right: 0;
opacity: 1;}
.btnContents i:nth-child(1){
    animation: ani linear 1.5s 0s infinite;
}
.btnContents i:nth-child(2){
    animation: ani linear 1.5s 0.5s infinite;
}
.btnContents i:nth-child(3){
    animation: ani linear 1.5s 1.0s 
    
            /* 이름 가속도 duration delay 무한반복 */
}

@keyframes ani{
    0%{right: 0; transform: scale(1); opacity: 1;}
    100%{right: 100px; transform: scale(1.5); opacity: 0;}
}